extends layout

block content
	h1= title
	p Welcome #{username}
	br

	each val, key in streaming
			h2= val.user_name 
			h3= val.title 
			p Now Streaming #{val.game_name}
			- let imgSource = val.thumbnail_url
			- let imgSource2 = imgSource.replace('{width}', '200')
			- let imgSource3 = imgSource2.replace('{height}', '100')
			img(src=imgSource3)
			p Viewers: #{val.viewer_count}
	p= offline
	a(href='/') Home