extends layout

block content
	div(id='content')
		h1 Streaming Now
		div(class='streaming-now')
			each val, key in streaming
				div(class='streamer-on')
					h2(class='name')
						a(href='https://twitch.tv/'+val.user_name target='_blank') #{val.user_name}
					h3(class='title') Title: #{val.title}
					p(class='game') Now Streaming: #{val.game_name}
					p(class='viewers') Viewers: #{val.viewer_count}
					- let imgSource = val.thumbnail_url
					- let imgSource2 = imgSource.replace('{width}', '267')
					- let imgSource3 = imgSource2.replace('{height}', '150')
					a(href='https://twitch.tv/'+val.user_name target='_blank' class='image')
						img(src=imgSource3)
			div(class='offline')
				h1 Offline

				-console.log(offline)
				
				each val of offline
					div(class='streamer-off')
						a(href='https://twitch.tv/'+val target='_blank')
							h2(class='name') #{val}